<div class="pricing-page">
  <!-- Header & Toggle -->
  <header class="pricing-header">
    <div class="plan-info">
      <h3>Choose Your Plan</h3>
      <p>Select the plan that suits your needs.</p>
    </div>
    <div class="toggle-container">
      <button class="toggle-button" [class.active]="selectedPlan === 'month'" (click)="selectedPlan = 'month'">
        Monthly
      </button>
      <button class="toggle-button" [class.active]="selectedPlan === 'year'" (click)="selectedPlan = 'year'">
        Yearly
      </button>
    </div>
  </header>

  <table class="pricing-table">
    <thead>
      <tr>
        <th class="feature-header">Plan & Features</th>
        <th *ngFor="let product of products" class="product-header">
          <div class="pricing-card">
            <div class="pricing-plan-wrap">
              <div class="card-header">
                <h2 class="product-name">{{ product.productName }}</h2>
                <p class="product-description">{{ product.description }}</p>
              </div>

              <!-- Plan Pricing Section -->
              <div *ngIf="getPlansByPeriod(product, selectedPlan).length > 0" class="plan-wrapper">
                <div class="plan-section" *ngFor="let plan of getPlansByPeriod(product, selectedPlan)">
                  <div class="plan-info">
                    <div class="plan-price" *ngIf="product.productName !== 'Enterprise'">
                      {{
                      plan.amount / 100
                      | currency: (plan.currency | uppercase) : true
                      }}
                      per user per {{ plan?.planName }}
                    </div>
                  </div>
                  <button class="select-button mat-mdc-paginator-navigation-previous"
                    [ngClass]="getButtonActionClass(buttonLabels[plan?.description] || (product.productName?.toLowerCase() === 'enterprise' ? 'Contact Us' : allButtonLabels))"
                    [class.active-plan]="
                      buttonLabels[plan?.description] === currentPlanText
                    " (click)="
                buttonActions[plan?.description] ?
                buttonActions[plan?.description](plan?.description) :
                (product.productName?.toLowerCase() === 'enterprise'
                  ? openEnterprisePlan()
                  : login(
                      product.productName?.toLowerCase() + '-USD-' +
                      (plan?.planName?.charAt(0).toUpperCase() + plan?.planName?.slice(1) + 'ly')
                    )
                )
" [disabled]="
                      buttonLabels[plan?.description] === currentPlanText
                    ">
                    {{ buttonLabels[plan?.description] || (product.productName?.toLowerCase() === 'enterprise' ?
                    'Contact Us' : allButtonLabels) }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Uncategorized Features -->
      <tr *ngFor="let feature of getUncategorizedFeatures(products)">
        <td class="feature-name">{{ feature | pricingField }}</td>
        <td class="restrictions" *ngFor="let product of products">
          {{
          getFormattedRestriction(
          feature | pricingField: "value",
          product.restrictions[feature | pricingField: "value"]
          )
          }}
        </td>
      </tr>

      <!-- Categorized Features -->
      <ng-container *ngFor="let category of getAllFeatureCategories(products)">
        <tr class="feature-category-row">
          <td [attr.colspan]="products.length + 1">{{ category }}</td>
        </tr>
        <tr *ngFor="let feature of getAllFeatures(products, category)">
          <td class="feature-name">{{ feature | pricingField }}</td>
          <td class="restrictions" *ngFor="let product of products">
            {{
            getFormattedRestriction(
            feature | pricingField: "value",
            product.restrictions[feature | pricingField: "value"]
            )
            }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>