<!-- <sl-auto-tour-trigger tourId="product-vision" [delay]="1000"></sl-auto-tour-trigger> -->
<div id="product-vision-header">dinesh</div>

<sl-tour-trigger tourId="product-vision">
  Start Tour
</sl-tour-trigger>

  <h1>Enter the main heading, usually the same as the title. Enter the main heading, usually the same as <span
      id="vision-statement2"> words</span> title. Enter
    the main heading, usually the same as the title.</h1>
  <p>Be <b>bold</b> in stating your key points. Put them in a list: </p>
  <ul>
    <li>The first item in your list</li>
    <li>The second item; <i>italicize</i> key <span id="vision-statement1"> words</span></li>
  </ul>
  <p>Improve your image by including an image. </p>
  <p><img src="http://www.mygifs.com/CoverImage.gif" alt="A Great HTML Resource"></p>
  <p>Add a link to your favorite <a href="https://www.dummies.com/">Web site</a>.
    Break up your page with a horizontal rule or two. </p>
  <hr>
  <p>Finally, link to <a href="page2.html">another page</a> in your own Web site.</p>
  <!-- And add a copyright notice.-->
  <p>© Wiley Publishing, 2011</p>

<div id="vision-statement">Dummy vision-statement</div>
