.short_calculator_container {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  .short_section {
    display: flex;
  }

  label,
  mat-form-field {
    width: 50%;
  }
}

.winner-background {
  background-color: #f1fff3;
  ;
}

.non-winner-background {
  background-color: #fff1f1;
}