<!-- <shorterloop-kanban [data]="workflowItems" [type]="'workflow'"
  [tableHeaders]="[{label: 'Opportunities', action: {}}, {label: 'Solutions', action: {}}, {label: 'Experiments', action: {}}]"></shorterloop-kanban>
   -->

<form [formGroup]="calculatorForm">
  <h1>Set Up the Experiment</h1>
  <hr />

  <shorterloop-sample-size-calculator>
    <div class="short_calculator_container">
      <ng-container *ngFor="let section of sections">
        <div class="short_section" [ngClass]="section.class">
          <label class="short_fields_label">{{ section.label }}</label>
          <mat-form-field class="short_calculator_fields" appearance="outline">
            <ng-container [ngSwitch]="section.type">
              <input *ngSwitchCase="'input'" matInput [formControlName]="section.formControlName" type="number" />
              <mat-select *ngSwitchCase="'select'" [formControlName]="section.formControlName">
                <mat-option *ngFor="let option of section.options" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </ng-container>
          </mat-form-field>
        </div>
      </ng-container>
      <div class="short_section">
        <mat-label>Range of Expected Results</mat-label>
        <!-- <mat-form-field appearance="outline"> -->
        <div class="range-container">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Min" formControlName="resultMinValue" />
            <mat-icon matSuffix>percent</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput placeholder="Max" formControlName="resultMaxValue" />
            <mat-icon matSuffix>percent</mat-icon>
          </mat-form-field>
        </div>
        <!-- </mat-form-field> -->
      </div>
      <div class="short_section">
        <mat-label>Recommended Sample Size</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="recommendedSampleSize" />
        </mat-form-field>
      </div>

    </div>

  </shorterloop-sample-size-calculator>

</form>